*{
    padding: 0%;
    margin:0%;
    
}
body{
    height:100vh;
    width:100%;
    background-color:#f9f9f9;
    
    
}
.main{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    overflow-y: hidden;
    
}
.box{

    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width:150px;
    
    background-color:#212121;
    color:aliceblue;
    
}
.button_box{
    
   background-color: #ffff;
   height:100px;
    display: flex;
    justify-content: center;
   
}
#btn{
 height:100px;
 width:200px;
 border-radius:40px;
}

