.left_header{
    font-size: 30px;
    color: #363b97;;
}
.header{
    display: flex;
    margin:30px;
    font-family: "Poppins";
   justify-content: space-between;
    
}
.right_header{
    
    gap:15px;
    display:flex;
    
    
    
}
.application{
    color:white;
    padding:10px;
    border:1px solid  #363b97;;
    border-radius: 8px;
    background-color:  #363b97;;
}
.wallet{
    color:#363b97;
    padding:10px;
    border:2px solid darkgray;
    border-radius: 8px;
}
.language{

    color:#363b97;
    padding:10px;
    border:none;
    align-items: center;
    display: flex;
}
.lang{
    outline:none;
    border:none;
}
.section1{
    display: flex;
    gap:300px;
}
.left_section1{
gap:200px;
}
