* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #212121;
}
#formData {
  display: flex;

  justify-content: center;
  margin-top:40px;
  padding: 2px;
  gap: 5px;
  width: 600px;
  height: 750px;
  
  /* background:linear-gradient(green, #45f3ff, #45f3ff); */
  border-radius: 8px;
  box-shadow: 0px 2px 4px 6px #45f3ff;
}
@keyframes animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(0);
  }
}
h1 {
  display: flex;
  justify-content: center;
  margin-top:20px;
  /* top:100px;
  left:250px; */
  color: #45f3ff;
  animation: animate 10s linear infinite;
}
input {
  width: 200px;
  border-radius: 5px;
}
select {
  width: 150px;
}
button {
  border-radius: 5px;
  width: 100px;
  height: 30px;
  margin: 30px;
}
label {
  color: #45f3ff;
  padding: 10px;
}
button:hover {
  transform: scale(2);
  color: blueviolet;
  background-color: #212121;
}
img {
  display: flex;

  top: 170px;
 
  /* left:400px; */
  height: 500px; 

  width: 290px; 
 
}

.formContainer {
  display: flex;
 padding: 30px;
  flex-direction: column;
 
}
.bothDiv{
 margin-top:100px;

display: flex;

 

}

/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
