body {
  height: 100vh;
  background-image: radial-gradient(
    rgba(119, 126, 159, 0.521),
    rgba(47, 214, 125, 0.555)
  );
}
/* .logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .logo img {
    width: 150px;
    height: 120px;
  } */
h1 {
  margin: 25px;
  font-size: 50px;
  text-align: center;
  font-family: cursive;
}
.container {
  max-width: 900px;
  margin: auto;
  height: 60vh;
  padding: 30px;
  overflow-y: scroll;
  margin-bottom: 24px;
  border: 2px solid black;
  background-color: rgb(110, 138, 136);
  border-radius: 10px;
}
.message {
  background-color: #ffffff;
  width: 20%;
  padding: 10px;
  margin: 17px 12px;
  border-radius: 8px;
}
.right {
  float: right;
  clear: both;
}
.left {
  float: left;
  clear: both;
}
#send-container {
  display: block;
  margin: auto;
  text-align: center;
  max-width: 980px;
}

#messageInp {
  width: 88%;
  height: 34px;
  font-size: 20px;
  padding: 0 5px;
  border: 2px solid black;
  border-radius: 8px;
}
.btn {
  height: 36px;
  width: 80px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(110, 138, 136);
  color: white;
}

/* body{
    background-image:linear-gradient(rgb(255,255,255),blue);
}

.container{
    max-width:955px;
    background-color: aqua;
    margin:auto;
    height:70vh;
}
.messages{
    background-color: blueviolet;
    width:24%;
    padding: 10px;
    margin:17px 12px;
    border:2px solid black;
    border-radius:10px;
}
.left{
    float:left;
    clear:both;
}

.right{
    float:right;
    clear:both;
}

#send-container{
    display: flex;
    margin:auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
#messagesInp{
    width: 92%;
    border:2px solid black;
    border-radius:6px;
    height:34px;
} */
