/* by giving padding margin i am able to remove ul dot spaces */
*{
    padding:0;
    margin:0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgb(6, 72, 94),rgba(0, 112, 30, 0.676));
    height:100vh;
   
}
/* #main-heading{
    color:#ffff
} */
.container{
    box-shadow: 1px 1px 2px 4px white;
    margin:30px;
    height: 400px;
    width: 500px;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    
}
.container ul{
    background: #ffff;
    list-style-type: none;
    
   
}
li{
    display: flex;
   /* box-shadow: 2px 2px 2px 2px gray; */
   height: 30px;
    width: 300px;
   padding: 3px;;
    justify-content: center;
   
}
.btn{
    margin:4px;
    border-radius: 5px;
    width: 40px;;
    background-color: lightseagreen;
}
.hidden-content{
    display: none;
    
}
.hidden-content.reveal-btn{
    display: inline;
}
.reveal-btn{
    background-color: cadetblue;
    border-radius: 10px;
    
    
}
