*{
    padding:0;
    margin:0;
}
.container{

    display:flex;
    gap:50px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
   background-color: beige;
    flex-direction: column;
    position: relative;
}
textarea{
    padding: 5px;
    width: 250px;
    height: 100px;
    background-color: #6C5B7B;
    color:aliceblue;
    
    outline:none;
}

header{
    top:100px;
   position: absolute;
    display: flex;
    justify-content: center;
    text-shadow:#C06C84;
   
}
.upBox{
    display: flex;
    justify-content: center;
    box-shadow:14px 24px 14px 4px #355C7D;
   
    
    box-shadow: 2px 2px 2px 2px #6C5B7B;
    width: 500px;;
    background-color: white;
    background-color: #C06C84;
}
.downBox{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top:50px;
    margin-bottom: 50px;
    width: 500px;
    background-color: white;
    /* box-shadow: 2px 2px 2px 2px #6C5B7B; */
    background-color: #C06C84;
}
body{
    font-family: sans-serif;
}
.posts{
    width:400px;
}
.posts div{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2,h3{
    
    text-shadow:2px 2px red;

}
.addButton{
    background-color: #C06C84;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
}
.removeButton{
    background-color: #C06C84;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
}

.todo{
    border:1px solid black;
    width: 100px;
    margin: 10px;
   
}

.delete{
   
  float:right;
    padding: 3px;
   
    background-color: red;
}

