.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: -320px;
  }
  
  .pagination-item {
    /* margin: 0 5px;
    padding: 5px 10px;
    background-color: #eee;
    cursor: pointer; */
    list-style-type: none;
  }
  .pagination-item a {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #eee;
    cursor: pointer;
  }
  .pagination-item--active a {
    background-color: #333;
    color: #fff;
  }
  
  .pagination-previous,
  .pagination-next {
    margin-left: 200px;
    /* Add styles for t
    he previous and next buttons */
  }
  .pagination-previous {
    margin-right: 100px;
  }
  .pagination-next {
    margin-left: 100px;
  }