*{
    padding: 0;
    margin: 0;
    justify-content: space-between;
    box-sizing: border-box;
}
.navBar{
    
    
    display:flex; 
   
    background-color:#00ff73;
}
.right{
    display: flex;
   
    
}
.right p{
    margin:5px;
    padding: 15px;
}
.left p{
    margin:5px;
    padding: 15px;
}
.mainTop{
    background-color: red;
    height:90%;
    width:100%;
    background-image:url("./images/joshua-hanson-e616t35Vbeg-unsplash.jpg");
}
.middleHeading{
    display: flex;
    justify-content: center;
    font-size:30px;
}
.downArticle{
    
    display: flex;
}
.para p{
    padding:30px ;
}
button{
    border-radius: 5px;
    margin: 10px;
    background-color: cadetblue;
}