*{
    padding:0px;
    margin:0px;
}
body{
    height: 100vh;
    background: #066acd;
}
.container{
   animation-name: box;
   animation-duration:4s;
   animation-iteration-count: infinite;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    /* 50% to the left and 50% to the up  */
    transform: translate(-50%,-50%);
}
@keyframes box{
  0%   {background-color: #0099CC;}
  25%  {background-color: #C099A0;}
  50%  {background-color: #738678;}
  100% {background-color: #9790A4;}
}
.navbar{
    padding:10px;
    color:#33CCCC;
    height: 100px;
    background-color:#212121;
    display: flex;
    justify-content: space-between;
}
.main{
    width: 60%;
    background-color:bisque;
}
