*{
    padding:0;
    margin:0;
}
.container{
  
    display:flex;
    gap:50px;
    justify-content: center;
    height: 100vh;
    background-color: aqua;
}
.left{
    box-shadow:14px 24px 14px 4px #355C7D;
   padding:100px;
    margin-top:50px;
    margin-bottom: 50px;

    background-color: white;
}
.right{
    box-shadow:14px 24px 14px 4px #355C7D;
    margin-top:50px;
    margin-bottom: 50px;
    background-color: white;
}
body{
    font-family: sans-serif;
}
.posts{
    width:400px;
}
.posts div{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1,h3{
    text-shadow:2px 2px red;

}