*{
   
}


main{
    border:1px solid black;
    width: 90%;
    margin:50px auto ;
    display: grid;
    /* grid-template-rows: 150px 150px; */
    grid-template-rows: repeat(5,150px);
    /* grid-template-rows: repeat(auto-fit,150px); */
    /* grid-template-columns: 150px 150px 150px; */
    /* grid-template-columns:  1fr 1fr 1fr; */
    /* grid-template-columns:min-content repeat(3,1fr); */
    /* grid-template-columns:max-content repeat(3,1fr); */
    /* grid-template-columns:minmax(150px,350px) repeat(3,1fr); */
    /* grid-template-columns: repeat(3,minmax(150px,320px)); */
    grid-template-columns: repeat(auto-fit,minmax(150px,320px));
    /* grid-row-gap:20px;
    grid-column-gap:20px; */
    /* grid-gap:20px;
    grid-auto-rows: 250px; */
    /* align-items: center; */
    /* align-items: stretch; */
    
    /* justify-items: center; */
}

.div1{
background-color: aqua;
}

.div2{
    background-color: rgb(0, 60, 255); 
    /* grid-column: 1/-1; */
}

.div3{
    background-color: rgb(255, 0, 251);
}

.div4{
    background-color: rgb(157, 0, 255);
}

.div5{
    background-color: rgb(255, 0, 0);
    /* grid-row-start: 1;
    grid-row-end: 2; */
    /* grid-row: 1/2; */
    /* grid-column-start: 3;
    grid-column-end: 4; */
    /* grid-column: 2/4; */
}

.div6{
    background-color: rgb(191, 255, 0);
}