*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    background-color:#ffce30;
    height:50px;
    width:100%;
    position:fixed;
    z-index:1;
    top: 0;
    
    
}

.right_header{
    text-align:right;
    margin-top:13px ;
    
}
.left_header{
 margin-top: 10px;
}
body{
    font-family:'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
}
.side_bar{
   position: fixed;
    border:2px solid black;
    width:24%;
    height:100vh;
    background-color: aqua;
    padding: 20px;
    margin-top:10px;
    overflow-y:scroll;
}
.right_form{
    
min-height: 100vh;
display: flex;
/* flex-direction: row; */
flex-wrap: wrap; 
margin-left: 25%;
margin-top: 50px;
background-color: #fafad2;
}
  .box{
    display: flex;
    width: 200px;
    height: 200px;
    margin: 10px;  
    border:1px solid black;
    background-image: url("./Image/lapy.jpg"); 
    background-size: 200px 200px;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
  }
  .box p{
    color:white;
    font-size: 30px;
    /* margin: auto; */
    display:flex;
    z-index: 10;
    font-style: bold;
    /* position:relative; */
  }
  .box p:hover{
    color: #ffce30;
  }
   .over{
    
    margin:10px;
    font-size: 30px;
    color: white;
   
  } 
  .over:hover{
    opacity:1;
    color:yellow;
  } 

  .box::after{
  content:"";
  position: absolute;
  background-color: black;
  width: 200px;
  height: 200px;
  opacity: 0;
  }
  .box:hover::after{
    opacity: 0.6;
  }
 
  
  
  




