.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slider{
  height:49px;
  width:200px;
  background-color:red;

}
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slick-dots li {
  margin: 0 5px;
  display: inline-block;
  width: 10px;
  height: 2px;
 
  cursor: pointer;
}

.slick-dots li.slick-active {
  
}