*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
section{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;  
    width:100%;
    background-color:#212121;
}
.container{
    color: aqua;
    font-size:50px;
    animation:animate 2s linear infinite;
    filter:blur(1px) brightness(1);
    animation-delay:1s;

}
@keyframes animate {
    0%{
        filter:blur(10px) brightness(1)
    }
    3%{
        filter:blur(10px) brightness(0)
    }
    5%{
        filter:blur(10px) brightness(1)
    }
    7%{
        filter:blur(10px) brightness(0)
    }
    9%{
        filter:blur(10px) brightness(1)
    }
    10%{
        filter:blur(10px) brightness(0)
    }
    13%{
        filter:blur(10px) brightness(1)
    }
    15%{
        filter:blur(10px) brightness(0)
    }
    17%{
        filter:blur(10px) brightness(1)
    }
    19%{
        filter:blur(10px) brightness(0)
    }
    21%{
        filter:blur(10px) brightness(1)
    }
    23%{
        filter:blur(10px) brightness(0)
    }
    25%{
        filter:blur(10px) brightness(1)
    }
    27%{
        filter:blur(10px) brightness(0)
    }
}
/* .mainDiv{
    height:100px;
    width:100px;
    background-color: antiquewhite;
}
.mainDiv:hover{
    transform:translate(0,-250px);
} */