*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.header{

    width: 100%;
    background-color:gray;
    position:fixed;
    z-index: 1;
    
    
    
}

.right_header{
  margin-bottom:30px;
    text-align:right;
    
}
.left_header{
  margin-top:30px;
}
body{
    font-family:'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
}
.side_bar{
   position: absolute;
    border:2px solid black;
    width:26%;
    height:100vh;
    top:95px;
    background-color: aqua;
    padding: 20px;
    margin:2px;
    overflow-y:scroll;
}
.right_form{
  position: absolute;
    top:95px;
min-height: 100vh;
display: flex;
/* flex-direction: row; */
flex-wrap: wrap; 
margin-left: 26%;
background-color: #fafad2;
}
  .box{display: flex;
    width: 200px;
    height: 200px;
    margin: 10px;  
    background-color: blue;
    
  }
  .box p{
    
    margin: auto;
    
}

  
  
  




