.head{
    background-color: blueviolet;
    display:flex;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    

}
.left_nav{
    color: #fff;
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.bet_nav{
    color: #fff;
    background-color: blueviolet;

}
.right_nav{
    color:#fff;
    gap:5px;
    display: flex;
    flex-direction: row;
    
}
.side_bar{
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: aqua;
    overflow-y: scroll;
    width: 20%;
}
.under{
   
  display: flex;
  flex-direction: row;
}

@media screen and (max-width:764px){
   .side_bar{
    display: none;
   }


}
.box{
    display: flex;
    width: 200px;
    height: 200px;
    margin: 10px;  
    border:1px solid black;
    /* background-image: url("./Image/lapy.jpg"); 
    background-size: 200px 200px;
     */
    align-items: center;
    justify-content: center;
  }
  
  .right_form{
    width: 100%;
    
    display: flex;
    
    flex-wrap: wrap; 
    
    }  