.container{
    height: 100vh;
    background-color:#ffe6e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right{
    
    display: flex;
    
    align-items: center;
    justify-content: center;
    width:600px;
    height: 600px;
    box-shadow:8px 18px 8px 16px rgba(193, 119, 119, 0.882);
    text-shadow:2px 2px  rgba(193, 119, 119, 0.882);
   
}
.right input{
    padding:10px;
    margin:5px;
    border-radius: 8px;
   
    border: 1px solid  rgba(193, 119, 119, 0.882);;
    
  
}
.right #btn{
margin:15px;
display: flex;

align-items: center;
box-shadow: 2px 2px 2px 2px  rgba(193, 119, 119, 0.882);;
border:1px solid white;
border-radius: 8px;;
}
#header{
    border-radius: 8px;;
    background-color:#ffff;
position:absolute;
 top:90px;
 transition: width 2s;
}
#top:hover{
    width: 500px;
}
.backBtn{
    position: absolute;
    top:20px;
    left:20px;
    height:20px;
    width:45px;
}