* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main {
  width: 100%;
  background-color: #fff;
}

.header {
  height: 100px;
  width: 100%;
  background-color: rgb(0,140,186);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:0;
}

.left {
  display: flex;
  padding: 10px;
}

.mid {
  display: flex;
}

.right {
  display: flex;
}

.item {
  font-family: sans-serif;
  padding: 10px;
}

.one {
  margin: 100px;
  display: flex;
}

.onehead {
  margin-top: 100px;
  text-transform: uppercase;
  color: #241c15;
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  padding: 10px;
  /* line-height: 1.25;
    letter-spacing: 0; */
}
.twohead {
  padding: 10px;
  font-weight: 400;
  font-family: Times, Times New Roman, serif;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-size: 30px;
  line-height: var(--h1-line);
  color: var(--heading-color);
  letter-spacing: -0.0625rem;
}
.threehead {
  padding: 10px;
  padding-bottom: 50px;
  font-size: 18px;
}
.leftone {
  padding: 50px;
}
.btn {
  background-color: #f8c771;
  padding: 10px;
  border-radius: 20px;
}
.btn:hover {
  transition-duration: 0.5s;
  transform: translateY(-5px);
  scale: 1.1;
  box-shadow: 2px 2px 2px 2px #212121;
}
.one {


}
.two {
  display: flex;
  padding: 10px;
}
#welcome{
   
    font-size:50px;
}
.overlay{
  position:absolute;
  left:0;
  top:0px;
  height:100vh;
  width:100vw;
  z-index:-1;
  opacity:0;
  
  background:rgb(0,0,0,0.7);
  transition:1s;
}

.overlayShow{
z-index:1;
opacity:1;
}
.idModal
{
  position: absolute;
  top:200px;
  left:-530px;
  /* transform:translate(50%,50%); */
  transition:2s;
  display:flex;
  height:300px;
  width:400px;
 background-image:url("./images/pexels-miguel-á-padriñán-255379.jpg");
  flex-direction: column;
  justify-content: center;
  align-items:center;
  color: #212121;
  box-shadow:2px 2px 2px 8px #212121;
}

.idModalShow{
  z-index:1;
  left:530px;
}

/* .idModal span{
  
} */
#crossbtn{
  display: flex;
  justify-content: center;
  position: absolute;
  top:20px;
  height:20px;
  width: 20px;
  left:350px;
  border-radius:50%;
  background-color:green;
  color:white;
  cursor: pointer;
}

#crossbtn:hover{
  background-color: blue;
}