*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height:100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    background-image:url(./images/v923-katie-04b.jpg);
   
}
  .container{
    
    margin-top:100px;
    background-color:lightgreen;
   
    height: 150px;
    width:500px;
   
    padding:20px;
    
}  
.upForm{
    margin-top:50px;
    display: flex;
gap:30px;
}
#dataForm{
    margin-top:10px;
    gap:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 500px;
    height:auto;
    background-color: lightgreen;
}
