.card{
    height: 50vh;
    width: 35%;
   margin:auto;
    /* background-image:url("./Images/logo.png") ; */
    /* transition: all .2s ease-in-out; */
    box-shadow:5px 5px 18px black;
    overflow: hidden;

    
}
.card img{
    height: 50vh;
    transition: 1s;

}
.card:hover img{
    transform: scale(1.2);
    
}
.box{
    border :1px solid black;
    background-color: gray;
    height: 50vh;
    width: 100%;
    margin:auto;
    color: #ffff;
   transition: 1s;
   text-align: center;
   position: relative;
   top: 20px;
}


.card:hover .box{
   
transform:translate(0,-250px);
}