
*{    
padding:0;
margin:0;
}
.container{
   height: 50%;
   width:30%;
   background-color: brown;
   display:flex;
   flex-wrap: wrap;
   
}
.box{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100px;
    width:100px;
    border:1px solid black;
}
.box:hover{
    background-color: aqua;
}
.container_2{
    display: inline;
     background-color: aqua;
}
