*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.formContainer{
    background-color: aliceblue;
    width: 600px;
    border-radius: 8px;
    color:#2D2363;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* letter-spacing: 2px;
     */
     border: 2px solid 2D2363;
     text-transform: uppercase;
    /* box-shadow: 5px 3px 15px 1px #212121;
     */
    position: relative;
}

body{
    background-image: url('https://wallpapercave.com/wp/bK53YzL.jpg');

    
    display: flex;
    height: 100vh;
    width:100%;
    align-items: center;
    justify-content: center;
}

.todo{
   
    
    
    border-radius: 8px;
    padding: 8px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    
}

.todoName{
    font-size: 20px;
    padding: 5px;
}

.time{
    position: relative;
    left: 220px
}
.wave{
    position: absolute;
    height:100%;
    width: 100%;
    /* background-color: blueviolet; */
    transition: all 1s;
    z-index: -1;
    
}
.wave::before{
    position: absolute;
    content:"";
    width:100%;
    height:300px;
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.i-wdWRQwfj68szefhx0OQQHaE7&pid=Api&P=0');
    top:-32px;
    animation:wavy 2s linear infinite;
}
@keyframes wavy {
    0%{
        background-position:5px;
    }
    100%{
        background-position: 132px;
    }
}







