*{
    padding:0;
    margin:0;
}
.container{
    animation: changeColor 8s linear infinite;
    display:flex;
    gap:50px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
   
    flex-direction: column;
    position: relative;
}
@keyframes changeColor {
    0%{
        background-color: #355C7D;
    }
    25%{
        background-color: #6C5B7B;
    }
    50%{
        background-color: #77ff008d;
    }
    75%{
        background-color:#ffb3b3 ;
    }
    100%{
        background-color:#355C7D ;
    }
}
textarea{
    padding: 5px;
    width: 250px;
    height: 100px;
    background-color: #6C5B7B;
    color:aliceblue;
    
    outline:none;
}

header{
    top:100px;
   position: absolute;
    display: flex;
    justify-content: center;
    text-shadow:#C06C84;
   
}
.left{
    display: flex;
    justify-content: center;
    box-shadow:14px 24px 14px 4px #355C7D;
   
    
    box-shadow: 2px 2px 2px 2px #6C5B7B;
    width: 500px;;
    background-color: white;
    background: linear-gradient(rgb(124, 124, 203), rgb(121, 211, 121));
}
.right{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:14px 24px 14px 4px #355C7D;
    margin-top:50px;
    margin-bottom: 50px;
    width: 500px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #6C5B7B;
    background: linear-gradient(rgb(124, 124, 203), rgb(121, 211, 121));
}
body{
    font-family: sans-serif;
}
.posts{
    width:400px;
}
.posts div{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2,h3{
    
    text-shadow:2px 2px red;

}
.addButton{
    background-color: #C06C84;
    padding: 2px;
    margin: 5px;
    border-radius: 5px;
    transition:2s width;
}
.addButton:hover{
    width:100px;;
}
.removeButton{
    background-color: #C06C84;
    padding: 0px;
    margin: 5px;
    border-radius: 5px;
}