*{
    padding: 0%;
    margin:0%;
    box-sizing:border-box;
}
 body{
    display: flex;
    justify-content:center;
    align-items:center;
    background-color:#607d86;
    min-height:100vh;
   
}
.container{
    position:relative;
    /* display:flex;
    justify-content:center;
    align-items:center;
    background-color: aqua;
    height:300px;
    width:350px; */
} 
.cup{
    position:relative;
   display: flex;
   justify-content:center;
   align-items:center; 
    height:250px;
    width:250px;
    border-radius:0px 0px 50% 50%;
   background:linear-gradient(to right,#f9f9f9,#d9d9d9);
} 
.top{
  position:absolute;
  top:-30px;
  left:0px;
  background:linear-gradient(#c57e65,#e28462);
  border:14px solid #f9f9f9;
  width:100%;
  height: 60px;
  border-radius:50%;
 
}  
/* .circle{
    position:absolute;
    background-color: red;
    width: calc(100%-20px);
    top:5px;
    left:10px;
    height:px;
} */
.handle{
    position: absolute;
    top:30px;
    right:-60px;
    height:180px ;
    width:160px;
   
    border:25px solid #dcdcdc;
    border-left:25px solid transparent;
    border-bottom:25px solid transparent;
    transform: rotate(42deg);
    border-radius:50%;
    overflow-y: hidden;
   

}
.plate{
    position: absolute;
    height:200px;
    width:560px;
    top:80px;
    left:-150px;
    border-radius:50%;
    background-color: #f9f9f9;;
    /* transform: rotate(20deg); */
}
.vapour{
    position:relative;
    display:flex;
    z-index:1;
    padding:0 20px;
}
.vapour span{
    position: relative;
    background-color:#f9f9f9;
    /* top: 150px; */
    /* bottom:50px; */
    height:80px;
    min-width:5px;
    bottom:45px;
    
    /* display:block; */
 
    margin:0px 2px 50px;
    border-radius:50%;
    animation:animate 5s linear infinite;
    filter: blur(8px);
    animation-delay: calc(var(--i)*0.5s);
}
@keyframes animate {
    0%{
transform: translateY(0) scaleX(1);
opacity:0; 
    }
    15%{
       opacity:1; 
    }
    50%{
        transform: translateY(-150px) scaleX(5);
        opacity:0; 
    }
    75%{
        opacity:1;
    }
    100%{
        transform: translateY(-200px) scaleX(10);
        opacity:0; 
    }
}

